<div class="row">
  <div class="col-md-12">
    <div class="login">
          <div class="center">
            <div class="formbg">
              <div class="myform">
                  <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                      <div class="form-group">
                          <input type="text" name="username" placeholder="Username"
                           class=" myform-control" 
                           ngModel required
                           #username="ngModel">
                           <span *ngIf="username.touched" [hidden]="username.touched && username.valid || (username.dirty || username.pristin)">Enter Username!</span>

                      </div> 
                      <div class="form-group">
                          <input type="text" name="password" placeholder="password" 
                          class="myform-control" ngModel required #password="ngModel">
                        
                          <span *ngIf="password.touched" [hidden]="password.valid || (password.dirty&& password.pristine)">Enter password!</span>
                        </div>
                      <div class="form-group">
                        <button class="myform-control mybtn" [disabled]="!loginForm.form.valid">
                          Login
                        </button>
                      </div>
                      <div class="form-group">
                        <select name="qatar" id="myoptions" class="form-control
                          myform-control" ngModel>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                      </div>
                    </form>
              </div>
            </div>
                      
          </div>
    </div>
  </div>
</div>
