<app-headermenu></app-headermenu>
<div class="row">
  <div class="col-md-12">
    <div class="homebg">
      <main class="">
        <div class="home_content_box">
          <div class="row">
            <div class="col-md-3 col-3 col-xs-6">
            <app-side-menu></app-side-menu>
            </div>
            <div class="col-md-9 col-9 col-xs-6">
              <div class="content_menu">
                <app-data-content>
          
                </app-data-content>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
